#main-content {
  padding: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start
  ;
}

.filtrar_por {
  width: 25%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
}

.filtro {
  width: 75%;
  border: solid 3px #9670b3;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  background-color: rgb(233, 232, 232);
}

.filtrar_por > h1,
.filtro > h2 {
  padding-left: 10px;
  font-size: 120%;
}

.link_categoria,
.link_produto,
ul,
li {
  list-style: none;
  padding-left: 5px;
  text-decoration: none;
  color: black;
}

.form_genero {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: start;
  padding: 0px 0px 10px 10px;
}

.form_tipos {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: center;
  padding: 0px 0px 10px 10px;
}

.min_preco,
.max_preco {
  float: left;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  align-content: star;
  width: 40%;
  margin: 0px 0px 20px 10px;
}

.min_preco > .min,
.max_preco > .max {
  margin-top: 5px;
  width: 95%;
  border: 2px solid #9670b3;
  border-radius: 10px;
  text-align: center;
}

.produtos {
  /* parte onde vsai ficar as figuras*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
  width: 60%;
}
.produto{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
}

.flex-item {
  border: 3px solid #9670b3;
  border-radius: 10px;
  width: 20%;
  margin-right: 85px;
  margin-top: 50px;
  transition: transform 0.5s;
}
.flex-item:hover {
  transform: scale(1.2);
  box-shadow: 10px 10px 30px #a18bb3;
}

.rolagem {
  display: flex;
  flex-flow: nowrap ;
  justify-content: center;
}

.link_rolagem {
  padding: 5px 20px 5px 20px;
}

.link_rolagem > a {
    text-decoration: none;
}

img {
  width: 50%;
}

.imagem {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 5px;
}

.text {
  border-top: solid #9670b3 0.1px;
  box-sizing: border-box;
  position: relative;
  font-size: 10px;
  text-align: center;
  z-index: 2;
}

.text > h2 {
  color: black;
  font-size: 125%;
  text-align: center;
}

.text > p {
  font-weight: bold;
  color: #5c4681;
  font-size: 130%;
  text-align: center;
}
